body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#canvas{
    border: 1px solid indigo;
}

button{
    border-radius: 10px;
    margin:25px;
    display: inline-block;
    outline: 0;
    text-align: center;
    cursor: pointer;
    padding: 12px 25px;
    border: 0;
    color: #fff;
    font-size: 17.5px;
    border: 2px solid transparent;
    border-color: #000;
    color: #000;
    background: transparent;
    font-weight: 800;
    line-height: 30px;
}

button:hover {
    background-color: #000;
    color: #fff;
}

.UI{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.UI h2{
margin:0 10px 0 10px;
}
